*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font: 400 19px/1 'Raleway', Arial, Tahoma, Verdana, sans-serif;
    color: #00c0ff;
    background: #fff;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
*/

ul {
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0 0 15px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.wrapper {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}
.header {
    background: #040404;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    z-index: 100;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    max-height: 33px;
}
.navigation {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navigation li {
    margin-left: 84px;
}
.navigation li:first-child {
    margin-left: 0;
}
.navigation a {
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    padding: 20px 0;
}
.button {
    padding: 10px 60px;
    height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .8);
    text-transform: uppercase;
    font-size: 21px;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    font-weight: 400;
    border-radius: 30px;
}
.button-lg {
    font-size: 25px;
    height: 55px;
    font-weight: 700;
}
.main-block {
    text-align: center;
    padding: 386px 0 162px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.main-block img {
    margin: 0 0 52px;
}
.main-block p {
    color: #fff;
    font-size: 22px;
    line-height: 1.25;
    max-width: 800px;
    margin: 0 auto 100px;
}
.black-bg {
    background: #000!Important;
}
.section {
    padding: 160px 0 155px;
}
.section-center .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.title-29 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 1.2;
    margin: 0 0 40px;
}
.section-who-we-are p {
    max-width: 900px;
    line-height: 1.75;
}